/* --- CSS VARIABLES --- */
:root {
  --background-color: #ececec;
  --text-color: rgba(0, 0, 0, 0.87);
}

.app-container {
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	color: var(--text-color);
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.App-link {
	color: #61dafb;
}

/* 
  main background color: #282c34
  accent color: #61dafb
*/

/* --- UTILITY CLASSES --- */

.fullHeight {
	height: 100%;
}

.fullWidth {
	width: 100%;
}

