@import "/src/styles/Vars.css";

.chatListItemContainer {
	height: 80px;
}

.chatListItemContainer:hover {
	background-color: var(--background-color-hover);
	cursor: pointer;
}

.newMessagesContainer {
	float: right;
	margin-left: auto;
}
